@use "./variables" as *;

.home {
  width: 100%;
  height: 90vh;
  display: flex;
  align-items: center;
  justify-content: center;

  .text-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba($color: $secondary, $alpha: 0.4);
    padding: 40px 40px;
    margin: 0 40px;
    border-radius: 20px;
  }

  ul {
    display: flex;
    gap: 20px;
  }

  h3 {
    .icon {
      position: relative;
      top: 4px;
    }
  }

  a {
    border: 1px solid $primary;
    padding: 20px 40px;
    border-radius: 10px;
  }
}
