// FONT IMPORT
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@400;700&family=Sansita+Swashed&display=swap");

// FONT VARIABLES
$display: "Sansita Swashed", cursive;
$sans: "Quicksand", sans-serif;

// COLOUR PALETTE
$primary: white;
$secondary: black;
